.form{
    width: fit-content;
    border: 1px dashed #ccc;
    margin: 10px auto;
    padding: 20px 25px;
    border-radius: 4px;
}

.form>div{
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.form label{
    width: 150px;
}

.form input, .form select{
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px 10px;
}

.form button, .splashScreen button{
    color: #fff;
    background-color: #f8911b;
    padding: 5px 12px;
    border-radius: 2px;
}

.splashScreen button{
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.splashScreen{
    width: 90%;
    height: 80%;
    margin: auto;
    font-size: 50px;
    letter-spacing: .5px;

}
